/* Police perso */

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('ttf'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Elements principaux de la page */
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'ralewayregular', Verdana, Arial, sans-serif;
}

#bloc-page
{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-family: 'ralewayregular', Verdana, Arial, sans-serif;
}


h1, h2, h3, #more, strong, #inscription, #Filters
{
    font-family: 'ralewaybold', Verdana, Arial ,sans-serif;
}

p 
{
    font-size: 0.9em;
}

/* Loupe dans bouton recherche */
@media (min-width: 641px) 
{
    span.icon {display:none}
    span.text {display:inline-block}
}

@media (max-width: 640px) 
{
    span.icon {display:inline-block}
    span.text {display:none}
}

/* Headers */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Liens de nav */
nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    color: black;
    text-decoration: none;
    padding: 1.9em 1.3em 0 1.3em;

}

#inscription a
{
    color: #0065FC;
}

nav a:hover
{
    color: #0065FC;
    border-top: 0.1em solid #0065FC;
}

/* Première section */

#principal h1 
{
    font-size: 1.3em;
    margin-bottom: -0.4em;
}

/* Form */
form
{
    display: flex;
    margin: 0;
}

.map i
{
    padding: 12px 10px 12px 10px;
    border: .1em solid transparent;
    background-color: #F2F2F2;
    border-radius: 0.7em 0 0 0.7em;
    border-right: none;
    font-size: 0.9rem;
    color: black;
}

form input
{
    padding: 0.8em 0 0.8em 1.5em;
    border: 0.1em solid #F2F2F2;
    font-weight: bold;
    width: 15%;

}

form button
{
    padding: 0.8em 1.3em 0.9em 1.3em;
    border: 0.1em solid transparent;
    border-radius: 0 0.7em 0.7em 0;
    cursor: pointer;
    border-left: none;
    font-weight: bold;
    background-color: #0065FC;
}

button span 
{
    color: white;
}

/* Filters */
#Filters 
{
    display: flex;
    margin: 1.5em 0 0 0.3em;
}


#Filters ul
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    padding-left: 1.6em;
}

#Filters li 
{
    margin-right: 2em;
    padding: 0.6em 0.5em 0.6em 0;
    border: 0.1em solid #F2F2F2;
    border-radius: 2em;
}

.boutton
{
    text-decoration: none;
    color: black;
    padding-right: 0.7em;
}

.boutton:hover
{
    color: #0065FC;
}

.boutton span
{
    border: 0.1em solid #F2F2F2;
    border-radius: 2em;
    padding: 0.9em;
    margin-right: 0.3em;
    background-color: #DEEBFF;
}

span i 
{
    color: #0065FC;
}

#appart
{
    display: inline-flex;
    align-items: center;
    margin-bottom: 2em;
}

#ico-info
{
    border: 0.1em solid #F2F2F2;
    padding: 0.2em 0.6em;
    border-radius: 2em;
    font-size: 0.8em;
    margin-right: 0.9em;
}
/* Corps */

#bloc-hebergements
{
    display: flex;
    margin-bottom: 2.5em;
}

article
{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #F2F2F2;
    margin-right: 3em;
    border-radius: 1.5em;
}
article h2
{
    margin: 2em 0 0.5em 1.5em;
}

#hebergements
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#hebergements figure
{
    margin: 1em 0 1em 2.1em;
    border-radius: 1em;
    padding: 0.3em;
    width: 230px;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
}

a:link, a:visited figure
{
    text-decoration: none;
    color: black;
}


a:focus figure, a:hover figure
{
    color: #0065FC;
    text-decoration: none;
}


#hebergements img
{
    width: 100%;
    height: 6em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    object-fit: cover;
}

figcaption
{
    margin-left: 0.3em;
}

figcaption p
{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#more
{
    font-weight: bolder;
    margin: 2.5em 0 0 2.8em;
}

aside
{
    
    background-color: #F2F2F2;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
}

aside h2
{
    display: flex;
    justify-content: space-around;
    margin: 2em 0 0.5em 0;
}

#pop
{
    border-radius: 1em;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
}

#pop figure
{
    display: flex;
    width: 290px;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
    padding: 0.3em;
    border-radius: 1em;

}

#pop img
{
    width: 8em;
    height: 8em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
}

#blue img
{
    width: 13em;
}

#pop figcaption
{
    width: 80%;
    margin-left: 1em;
}

#pop .star
{
    margin-top: 2.7em;
}

.star
{
    color: #0065FC;
}


#activites
{
    display: flex;   
    flex-direction: column;
    margin-bottom: 2em;
}
#activites h2
{
    margin-bottom: 0.5em;
}

.act 
{
    display: flex;
    flex-direction: row;
    margin: 0 0 2em 0;
    justify-content: space-around;
}

.act p
{
    font-size: 0.8em;
}

.act figure
{
    width: 265px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
}

.act #port
{
    margin-left: 0;
}

.act img
{
    width: 100%;
    object-fit: cover;
    height: 20em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.act figcaption
{
    margin: 0.7em;
}

.bloc-small
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bloc-small figure
{
    width: 100%;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
}

.bloc-small img
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#fort
{
    height: 7.5em;
}

#iles
{
    height: 7.5em;
    object-position: top;
}

#dame
{
    height: 9em;
    object-position: top;
}

#parc
{
    height: 6em;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-left: 4em;
}

footer div 
{
    width: 33%;
}


/* Mediaqueries */
@media screen and (max-width: 375px)
{ /* Pour mobile */

    *
    {
        box-sizing: border-box;
    }

    body
    {
        margin: 0;
    }

    #bloc-page
    {
        display: block;
        width: 100%;
        margin: 0;
    }

    header 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #logo
    {
        margin: 1.5em 0 0 1em;
    }

    nav 
    {
        width: 100%;
    }

    nav ul
    {
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;
        border-bottom: 0.2em solid #F2F2F2;
        padding-bottom: 1em;
    }

    nav li
    {
        z-index: 2;
    }

    #inscription
    {
        position: absolute;
        bottom: 4em;
        right: 1em;
        z-index: 1;

    }

    nav a
    {
        border-bottom: 0.2em solid #F2F2F2;
    }

    a[href="#activites"]
    {
        padding: 0 4em 1em 4em;
    }

    a[href="#hebergements"]
    {
        padding: 0 2em 1em 2.1em;
    }

    nav a:hover
    {
        border-bottom: 0.2em solid #0065FC;
        border-top: none;
        
    }        
    
    #inscription a
    {
        border: none;
        padding: 0;
    }

    #bloc-hebergements
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    article, aside, section, .act, #Filters
    {
        width: 100%;
        display: block;
    }

    #principal
    {
        display: flex;
        flex-direction: column;
        padding: 0 1.6em 0 1.6em;
        flex-wrap: wrap;
    }

    form
    {
        display: flex;
        margin: 0;
    }

    span.map
    {
        padding: 0.5em 1em 0.5em 0.5em;
        border: .1em solid transparent;
        border-radius: 0.7em 0 0 0.7em;
        border-right: none;
        background-color: #F2F2F2;
    }

    .map i
    {
        padding: 0;
        padding-left: 0.5em ;
        font-size: 0.9rem;
        color: black;
    }

    form input
    {
        padding: 0.8em 0 0.8em 1.5em;
        border: 0.1em solid #F2F2F2;
        float: left;
        font-weight: bold;
        width: 70%;
        position: relative;

    }

    form button
    {
        padding: 0.8em 1em;
        border: 0.1em solid transparent;
        border-radius: 0.7em;
        cursor: pointer;
        border-left: none;
        font-weight: bold;
        background-color: #0065FC;
        position: absolute;
        right: 3.8em;
    }

    .icon i
    {
        color: white;
        background-color: #0065FC;
    }


    #Filters
    {
        margin: 1.5em 0 0 0;
    }

    #Filters ul
    {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        width: 100%;
        align-items: self-start;
        position: relative;
        z-index: 2;
        
    }

    #child

    {
         align-self: flex-end;
         position: absolute;
         z-index: 1;
    }

    #Filters li
    {
        margin: 0 0 1em 0;
        padding: 0.9em 0.3em 0.9em 0;
    }

    #appart
    {
        margin: 0 0 2em 2em; 
        position: relative;
    }

    #ico-info
    {
        align-self: flex-start;
        position: absolute;
        bottom: 1.1em;
        left: -2.7em;
        padding: 0.3em 0.7em; 

    }

    article
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }
    article h2
    {
        margin: 2em 0 0.5em 1.5em;
        font-size: 1.4em;
    }

    #hebergements
    {
        display: block;
    }

    #hebergements figure
    {
        margin: 1em 1.9em 1em 1.9em;
        border-radius: 1em;
        padding: .3em;
        width: 85%;
        background-color: white;
        box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
    }

    #hebergements img
    {
        width: 100%;
        height: 6em;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        object-fit: cover;
    }

    #more
    {
        font-size: 1.1em;
        margin: 1em 0 0 2.3em;
    }

    aside
    {
        
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0%;
        order: -1;
    }

    aside h2
    {
        display: flex;
        font-size: 1.4em;
        justify-content: space-around;
        margin: 2em 0 0.5em 0;
    }

    #pop
    {
        padding: 0.3em;
        display: flex;
        flex-direction: column;
    }

    #pop figure
    {
        display: flex;
        width: 85%;
        align-self: center;
        background-color: white;
        box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
        padding: 0.3em;
        border-radius: 1em;

    }

    #pop img
    {
        width: 8em;
        height: 8em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        object-fit: cover;
    }

    #pop .star
    {
        font-size: 0.8rem;
        margin-top: 4em;
    }


    #activites h2
    {
        margin-bottom: 0.5em;
    }

    #activites
    {
        justify-content: center;
    }

    .act
    {
        justify-self: start;
    }

    .act p
    {
        font-size: 0.8em;
    }

    .act figure
    {
        width: 85%;
        border-radius: 1em;
        margin: 0.8em 1.9em 0.8em 1.9em;
        box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
    }

    .act #port
    {
        margin: 0.8em 0 0.8em 1.5em;
    }

    .act img
    {
        width: 100%;
        object-fit: cover;
        height: 10em;
        object-position: top;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }


    .act figcaption
    {
        margin: 0.7em;
    }

    .bloc-small
    {
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    .bloc-small figure
    {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
    }

    .bloc-small img
    {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    #fort
    {
        height: 8em;
    }

    #iles
    {
        height: 7.5em;
        object-position: top;
    }

    #dame
    {
        height: 9em;
        object-position: top;
    }

    #parc
    {
        height: 6em;
    }

    footer
    {
        display: block;
    }

}



@media (min-width: 376px) and (max-width: 768px)
{   /* Pour tablettes et Ipads */


    *
    {
        box-sizing: border-box;
    }


    
    body
    {
        margin: 0;
    }

    #bloc-page
    {
        display: block;
        width: 100%;
        margin: 0;
    }

    header 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo
    {

    }

    nav 
    {
        width: 100%;
        border-bottom: 0.2em solid #F2F2F2;
    }

    nav ul
    {
        padding: 0;
        justify-content: center;
        width: 100%;
    }

    nav li
    {
        display: inline-block;
        width: 33.3%;
        text-align: center;
    }

    nav a
    {
       /*border-bottom: 0.2em solid #F2F2F2;*/
        padding: 0 ;
    }

    nav a:hover
    {
        border-bottom: 0.2em solid #0065FC;
        border-top: none;
    }        
    
    a[href="#activites"]
    {
        padding: 0 6em 1em 5.5em;
    }

    a[href="#hebergements"]
    {
        padding: 0 4em 1em 4em;
    }

    #inscription a:hover
    {
        padding: 0 5em 1em 4.5em;
    }

    

   #bloc-hebergements
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    article, aside, section, .act, #Filters
    {
        width: 100%;
        display: block;
    }

    #principal
    {
        display: flex;
        flex-direction: column;
        padding: 0 1.6em 0 1.6em;
        flex-wrap: wrap;
    }

    form
    {
        display: flex;
        margin: 0;
    }

    .map i
    {
        padding: 0.5em ;
        border: 0.1em solid transparent;
        background-color: #F2F2F2;
        border-radius: 0.7em 0 0 0.7em;
        float: left;
        border-right: none;
        font-size: 0.9rem;
        color: black;
    }

    form input
    {
        padding: 0.8em 0 0.8em 1.5em;
        border: .1em solid #F2F2F2;
        float: left;
        font-weight: bold;
        width: 15%;

    }

    form button
    {
        padding: 0.8em 1.3em;
        border: 0.1em solid transparent;
        border-radius: 0 0.7em 0.7em 0;
        float: left;
        cursor: pointer;
        border-left: none;
        font-weight: bold;
        background-color: #0065FC;
    }

    .icon i
    {
        color: white;
        background-color: #0065FC;
    }

    /* Clear form floats */
    form:after
    {
        content: "";
        clear: both;
        display: flex;
    }



    #Filters
    {
        margin: 1.5em 0 0 0;
        display: flex;
    }

    #Filters ul
    {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        width: 100%;
        align-items: flex-start;
        margin-left: 2em;

    }



    #Filters li
    {
        margin: 0 0 1em 0;
        padding: 0.9em 0.3em 0.9em 0;
    }

    #appart
    {
        margin: 0 0 2em 2em; 
        position: relative;
    }

    #ico-info
    {
        align-self: flex-start;
        position: absolute;
        bottom: 0.3em;
        left: -2.7em;
        padding: 0.3em 0.7em; 

    }

    footer
    {
        display: block;
    }

}

@media (min-width: 641px) and (max-width: 1124px)
{
    
}