/* Police perso */

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('ttf'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Elements principaux de la page */
body
{
    margin: 0;
    min-width: 370px;
    display: flex;
    flex-direction: column;
}

#bloc-page
{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-family: 'ralewayregular', Verdana, Arial, sans-serif;
}


h1, h2, h3, #more, strong, #inscription, #Filters
{
    font-family: 'ralewaybold', Verdana, Arial ,sans-serif;
}

p 
{
    font-size: 0.9em;
}

/* Headers */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Liens de nav */
nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    color: black;
    text-decoration: none;
    padding: 1.9em 1.3em 0 1.3em;

}

#inscription a
{
    color: #0065FC;
}

nav a:hover
{
    color: #0065FC;
    border-top: 0.1em solid #0065FC;
}

/* Première section */

#principal h1 
{
    font-size: 1.3em;
    margin-bottom: -0.4em;
}

/* Form */
form
{
    display: flex;
    margin: 0;
}

.map i
{
    padding: 12px 10px 12px 10px;
    border: .1em solid transparent;
    background-color: #F2F2F2;
    border-radius: 0.7em 0 0 0.7em;
    border-right: none;
    font-size: 0.9rem;
    color: black;
}

form input
{
    padding: 0.8em 0 0.8em 1.5em;
    border: 0.1em solid #F2F2F2;
    font-weight: bold;
    width: 210px;
}

form button
{
    padding: 12px;
    border: 0.1em solid transparent;
    border-radius: 0 0.7em 0.7em 0;
    cursor: pointer;
    border-left: none;
    font-weight: bold;
    background-color: #0065FC;
}
button span 
{
    color: white;
}

/* Filters */
#Filters 
{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0 0 0.3em;
}


#Filters ul
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    padding-left: 1.6em;
}

#Filters li 
{
    margin-right: 2em;
    padding: 0.6em 0.5em 0.6em 0;
    border: 0.1em solid #F2F2F2;
    border-radius: 2em;
}

.boutton
{
    text-decoration: none;
    color: black;
    padding-right: 0.7em;
}

.boutton:hover
{
    color: #0065FC;
}

.boutton span
{
    border: 0.1em solid #F2F2F2;
    border-radius: 2em;
    padding: 0.9em;
    margin-right: 0.3em;
    background-color: #DEEBFF;
}

span i 
{
    color: #0065FC;
}

#appart
{
    display: inline-flex;
    align-items: center;
    margin-bottom: 2em;
}

#ico-info
{
    border: 0.1em solid #F2F2F2;
    padding: 0.2em 0.6em;
    border-radius: 2em;
    font-size: 0.8em;
    margin-right: 0.9em;
}
/* Corps */

#bloc-hebergements
{
    display: flex;
    margin-bottom: 2.5em;
}

article
{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #F2F2F2;
    margin-right: 2em;
    border-radius: 1.5em;
}
article h2
{
    margin: 2em 0 0.5em 1.5em;
}

#hebergements
{
    display: flex;
    flex-wrap: wrap;
}

#hebergements figure
{
    margin: 1em 0 1em 2.1em;
    border-radius: 1em;
    padding: 0.3em;
    width: 230px;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
}

a:link, a:visited figure
{
    text-decoration: none;
    color: black;
}


a:focus figure, a:hover figure
{
    color: #0065FC;
    text-decoration: none;
}


#hebergements img
{
    width: 100%;
    height: 6em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    object-fit: cover;
}

figcaption
{
    margin-left: 0.3em;
}

figcaption p
{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#more
{
    margin: 2.5em 0 1em 2.8em;
}

aside
{
    
    background-color: #F2F2F2;
    width: 30%;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
}

aside h2
{
    display: flex;
    justify-content: space-around;
    margin: 2em 0 0.5em 0;
}

#pop
{
    border-radius: 1em;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pop figure
{
    display: flex;
    width: 290px;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 20%);
    padding: 0.3em;
    border-radius: 1em;

}

#pop img
{
    width: 8em;
    height: 8em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
}

#blue img
{
    width: 13em;
}

#pop figcaption
{
    width: 80%;
    margin-left: 1em;
}

#pop .star
{
    margin-top: 2.7em;
}

.star
{
    color: #0065FC;
}


#activites
{
    display: flex;   
    flex-direction: column;
    margin-bottom: 2em;
}
#activites h2
{
    margin-bottom: 0.5em;
}

.act 
{
    display: flex;
    justify-content: space-around;
}

.act p
{
    font-size: 0.8em;
}

.act figure
{
    width: 265px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
}

.act #port
{
    margin-left: 0;
}

.act img
{
    width: 100%;
    object-fit: cover;
    height: 20em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.act figcaption
{
    margin: 0.7em;
}

.bloc-small
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bloc-small figure
{
    width: 100%;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgb(0 0 0 / 30%);
}

.bloc-small img
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#fort
{
    height: 7.5em;
}

#iles
{
    height: 7.5em;
    object-position: top;
}

#dame
{
    height: 9em;
    object-position: top;
}

#parc
{
    height: 6em;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-left: 4em;
    font-family: 'ralewayregular', Verdana, Arial, sans-serif;
}

footer div 
{
    width: 33%;
}




/*Mediaqueries*/
@media screen and (max-width: 448px)
{
    nav ul
    {
        position: relative;
    }

    #inscription
    {
        position: absolute;
        bottom: 4em;
        right: 20px;
    }

    #inscription a
    {
        padding: 0;
    }

    #ico-info
    {
        margin-bottom: 1.5em;
    }
    
}

@media (max-width: 785px)
{
    *
    {
        box-sizing: border-box;
    }

    #bloc-page
    {
        display: block;
        width: 100%;
        min-width: 370px;
        margin: 0;
    }

    header 
    {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo
    {
        margin: 1.5em 0 0 1em;
    }

    nav 
    {
        width: 100%;
    }

    nav ul
    {
        padding: 0;
        justify-content: space-around;
        border-bottom: 0.2em solid #F2F2F2;
        padding-bottom: 1em;
    }

    nav a
    {
        border-bottom: none;
    }

    a[href="#activites"]
    {
        padding: 0 3.6em 1em 3.5em;
    }

    a[href="#hebergements"]
    {
        padding: 0 3.1em 1em 2.1em;
    }

    #inscription a:hover
    {
        border-bottom: none;
    }

    nav a:hover
    {
        border-bottom: 0.2em solid #0065FC;
        border-top: none;
            
    }        

    article, aside, section, #activites, .act, footer
    {
        width: 100%;
        min-width: 340px;
        display: block;
    }

    #principal
    {
        padding: 0 1.6em 0 1.6em;
        min-height: 350px;
        flex-wrap: wrap;
    }    

    form
    {
        margin: 2em 0;
    }
    
    span.map
    {
        padding: 0.5em 1em 0.5em 0.5em;
        border: .1em solid transparent;
        border-radius: 0.7em 0 0 0.7em;
        border-right: none;
        background-color: #F2F2F2;
    }

    .map i
    {
        padding: 0.4em 0 0 0.4em;
    }

    form input
    {
        width: 250px;
        padding: 1em 0 1em 1.2em;
        font-size: 0.9rem;
        border-right: none;

    }

    /*loupe*/
    span.icon {display:inline-block}
    span.text {display:none}

    form button
    {
        padding: 14.3px;
        border-radius: 1.4em;
        margin-left: -1em;

    }

    .icon i
    {
        color: white;
        font-size: 1rem;
        background-color: #0065FC;
    }

    #Filters
    {
        margin: 1.5em 0 0 0;
        flex-direction: column;
        min-width: 30px;
    }

    #Filters ul
    {
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        align-items: self-start;
        
    }

    #Filters li
    {
        margin: 0 0 1em 0;
        padding: 0.9em 0.3em 0.9em 0;
    }


    #bloc-hebergements
    {
        width: 100%;
        flex-direction: column;
    }

    article
    {
        background-color: transparent;
    }
    
    article h2
    {
        font-size: 1.4em;
        margin: 2em 1em 0.5em;
    }

    #hebergements figure
    {
        margin: 18px;
        width: 330px;
    }

    .star
    {
        font-size: 0.7rem;
    }

    #more
    {
        font-size: 1.1em;
        margin: 1em 0 0 2.3em;
    }

    aside
    {
        border-radius: 0%;
        order: -1;
    }

    aside h2
    {
        font-size: 1.4em;
        justify-content: space-between;
        margin: 2em 1em 0.5em;
    }

    #pop
    {
        margin-bottom: 1em;
        align-items: unset;
        flex-wrap: wrap;
        flex-direction: unset;
    }

    #pop figure
    {
        width: 330px;
        margin: 18px;
    }

    #pop img 
    {
        width: 115px;
        height: 120px;
    }

    #pop figcaption
    {
        width: 50%;
        margin-left: 20px;
    }

    #pop .star
    {
        margin-top: 3.3em;
    }


    #activites h2
    {
        font-size: 1.4em;
        margin: 2em 1em 0.5em;
    }

    .act 
    {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
    }


    .act figure, .act #port
    {
        width: 325px;
        margin: 22px 22px 13px;
    }

    .act img
    {
        height: 9em;
        object-position: top;
    }

    .bloc-small
    {
        width: 340px;
        margin: 0 13px 0;
        align-items: center;
    }

    .bloc-small figure
    {
        margin: 10px 0;

    }

    #fort, #parc
    {
        height: 9em;
        object-position: center;
    }

    .act figcaption
    {
        margin: 10px;
    }

    footer
    {
        padding: 0;
    }

    footer div 
    {
        width: 70%;
        margin:  2em 22px;
    }
}


@media (min-width: 786px) 
{    /*loupe*/
    span.icon {display:none}
    span.text {display:inline-block}
}


@media (min-width: 786px) and (max-width: 1024px)
{   /*Pour tablettes et Ipads*/


    *
    {
        box-sizing: border-box;
    }

    #bloc-page
    {
        display: block;
        width: 100%;
        margin: 0;
    }

    #logo
    {
        margin-left: 1em;
    }

    header
    {
        min-width: 750px;
        margin-top: 1em;
    }

    #principal
    {
        padding: 0 1.6em 0 1.6em;
        flex-wrap: wrap;
    }

    form
    {
        margin: 2em 0;
    }

    .map i
    {
        padding: 12px 20px 12px 10px;
    }

    form input
    {
        width: 230px;

    }

    #Filters
    {
        margin: 1.5em 0 0 0;
        flex-direction: column;
    }

    #Filters ul
    {
        flex-wrap: wrap;

    }



    #Filters li
    {
        margin: 0 0 1em 0;
        padding: 0.9em 0.3em 0.9em 0;
    }

    #appart
    {
        margin: 0 0 2em 2em; 
        position: relative;
    }

    #ico-info
    {
        align-self: flex-start;
        position: absolute;
        bottom: 0.3em;
        left: -2.7em;
        padding: 0.3em 0.7em; 

    }

    #bloc-hebergements
    {
        width: 100%;
    }

    article 
    {
        width: 60%;
        min-width: 510px;
        margin-right: 0;
    }

    article h2
    {
        margin-left: 1em;
    }

    #hebergements
    {
        justify-content: space-evenly;
    }

    #hebergements figure
    {
        margin: 1em 0;
    }

    #more
    {
        margin: 2em 0 1em 2em;
    }

    aside 
    {
        width: 40%;
        min-width: 287px;
        background-color: transparent;
    }

    #pop
    {
        align-items: unset;
    }

    #pop figure
    {
        width: 89%;
        margin: 17px;
    }

    #pop figcaption 
    {
        width: 89%;
        min-width: 50px;
        margin-left: 10px;
    }

    #pop img
    {
        width: 120px;
        height: 120px
    }

    #blue img
    {
        min-width: 120px;
    }

    #pop .star
    {
        margin-top: 1em;
        font-size: 0.8rem;
    }

    .act
    {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #activites h2
    {
        padding: 1em;
    }

    .act #port, .act figure
    {
        width: 220px;
        margin: 10px;

    }

    .bloc-small
    {
        width: 240px;
        min-width: 200px;
        align-items: center;
        justify-content: space-between;
    }

    #fort 
    {
        height: 130px;
    }

    #iles
    {
        height: 110px;
    }

    #dame
    {
        height: 130px;
    }

    #parc
    {
        height: 120px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px)
{

    article
    {
        width: 65%;
    }

    aside
    {
        width: 35%;
    }

    .act figure
    {
        width: 205px;
    }

    #fort 
    {
        height: 130px;
    }

    #iles, #dame, #parc
    {
        height: 110px;
    }


}
